<header class="header">
	<div class="container header__container">
		<a class="logo" href="index.html">
			<img  src="img/logo.jpg" alt="" />
		</a>
		<ul class="nav">
			<li class="nav__link"><a href="" class="nav__link-item">Products</a></li>
			<li class="nav__link"><a href="" class="nav__link-item">Pricing</a></li>
			<li class="nav__link"><a href="" class="nav__link-item">Integrations</a></li>
			<li class="nav__link"><a href="" class="nav__link-item">Client Reporting</a></li>
			<li class="nav__link"><a href="" class="nav__link-item">Learn</a></li>
			<li class="nav__link"><a href="" class="nav__link-item">We're Hiring</a></li>
		</ul>
    <ul class="header-list">
      <li class="header-list__link">Log In</li>
      <li class="header-list__link">
        <a href="#popup" class="btn btn-head popup-link">
          <span class="btn__text">Get Started Free</span>
        </a>
      </li>
    </ul>
	</div>
</header>
